.home__container {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: baseline;
  flex-wrap: wrap;
  color: white;
  position: relative;
  top: 82px;

}
